@media (max-height: 940px) {
  .company__img1 {
    max-width: 260px;
  }
  .company__img2 {
    max-width: 314px;
  }
  .company__img3 {
    display: none;
  }
  .company__img-text {
    margin: 76px auto 0;
  }
  .company__info-wrap {
    align-items: flex-start;
  }
  .company__img3-wrap {
    height: auto;
  }
  .footer {
    padding: 35px 0;
  }
  .contacts__item {
    margin-bottom: 20px;
  }
  .contacts__name {
    margin-bottom: 6px;
  }
  .contacts__list {
    padding-top: 150px;
  }
  .feedback__content {
    padding: 100px 0 96px;
  }
}
@media (max-height: 900px) {
  .arrow_wrap,
  .feedback_btn {
    left: 105px;
  }
}
@media (max-height: 850px) {
  .arrow_wrap,
  .feedback_btn {
    left: 98px;
  }
  .arrow,
  .feedback_icon {
    width: 54px;
    height: 64px;
  }
  .slider__skew {
    padding: 170px 0 0 200px;
    margin-left: -165px;
  }
}
@media (max-height: 800px) {
  .company__img1 {
    max-width: 200px;
  }
  .company__img2 {
    max-width: 218px;
  }
  .company__img-text {
    margin: -22px auto 0;
  }
  .text-style {
    font-size: 2vh;
    line-height: 166%;
  }
  .line {
    margin: 30px 0;
  }
  .title {
    font-weight: 900;
    font-size: 40px;
    line-height: 58px;
  }
  .subtitle {
    font-size: 4vh;
    line-height: 120%;
  }
  .contacts__info {
    width: 46%;
  }
  .contacts__map {
    width: 54%;
  }
  .contacts_row_items {
    display: flex;
    flex-flow: row wrap;
    margin-left: -30px;
  }
  .contacts__item {
    width: calc(50% - 30px);
    margin: 0 0 20px 30px;
  }
  .contacts__value {
    max-width: 292px;
  }
  .arrow_wrap,
  .feedback_btn {
    left: 180px;
  }
  .feedback__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 38px;
  }
  .feedback__btn {
    padding: 19px 30px;
  }
  .input {
    padding: 10px 30px;
  }
  .feedback__back-btn {
    margin-bottom: 14px;
  }
}
@media (max-height: 700px) {
  .company_row {
    padding: 140px 0 106px;
  }
  .contacts__list {
    padding-top: 140px;
  }
  .company__img-text {
    max-width: 100%;
  }
}
@media (max-width: 1670px) {
  .header-content {
    width: auto;
  }
}
@media (max-width: 1500px) {
  .phone {
    display: block;
  }
  .phone__text {
    padding-left: 0;
  }
  .feedback__img-wrap {
    width: 100%;
    height: 100%;
    background: url(../img/slider/slide-0.webp) no-repeat left;
    background-size: contain;
  }
}
@media (max-width: 1300px) {
  .header__phone,
  .header__phone .phone:last-child {
    margin-left: 20px;
  }
  .header-content {
    margin-left: 20px;
  }
  .header__address {
    margin-left: 0;
  }
  .phone {
    margin-right: 20px;
  }
  .nav__item {
    margin-right: 24px;
  }
  .C {
    padding: 0 40px;
  }
  .title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 48px;
  }
  .header {
    padding: 15px 0;
  }
  .footer {
    padding: 20px 0;
  }
  .btn {
    font-size: 14px;
  }
  .company_btn {
    margin: 12px auto 0;
    padding: 11px 20px 8px;
  }
  .feedback__content {
    padding: 82px 0 69px;
  }
  .feedback__form {
    max-width: 300px;
  }
  .feedback__title {
    font-size: 30px;
    line-height: 34px;
  }
  .feedback__form-wrap {
    justify-content: flex-end;
  }
}
@media (max-width: 1150px) {
  .header_row {
    justify-content: space-between;
  }
  .header-content {
    width: auto;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    cursor: pointer;
  }
  .container {
    padding: 0 40px;
  }
  .footer__policy-link {
    margin-left: 30px;
  }
  .nav {
    display: block;
  }
  .nav__item {
    margin-right: 0;
  }
  .nav__link {
    padding: 14px 22px;
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  .nav__link:hover:before {
    width: 20px;
  }
  .nav__link:before {
    background: url(../img/icons/polygon-yellow.svg) no-repeat;
    background-size: 100%;
    width: 20px;
    height: 24px;
    display: inline-block;
    margin-right: 12px;
    position: static;
    opacity: 1;
  }
  .home_overflow {
    overflow: hidden;
  }
}
@media (max-width: 1100px) {
  .slider__info {
    max-width: none;
  }
  .contacts__info {
    width: 36%;
    padding-left: 40px;
  }
  .contacts__map {
    width: 64%;
  }
  .contacts__info .bg_black:before {
    transform: skew(20deg) translateX(94px) !important;
  }
  .contacts__list {
    padding-top: 120px;
  }
}
@media (max-width: 1000px) {
  .header-content {
    width: 70%;
  }
  .header__logo-img {
    max-width: 170px;
  }
  .link {
    font-size: 13px;
    line-height: 18px;
  }
  .phone__text {
    font-size: 13px;
    max-width: 152px;
    line-height: 16px;
  }
  .address {
    max-width: 195px;
    font-size: 13px;
  }
  .header__phone,
  .header__phone .phone:last-child {
    margin-left: 20px;
  }
}
@media (max-width: 950px) {
  .feedback__content {
    width: 62%;
  }
  .header__address {
    display: none;
  }
  .footer__policy-link {
    margin-left: 30px;
    max-width: 144px;
  }
  .feedback_btn {
    font-size: 14px;
  }
  .company__img-wrap {
    width: 100%;
    display: flex;
    height: 144px;
  }
  .company__img2-wrap {
    width: 100%;
    top: 6px;
    left: 21px;
    justify-content: flex-start;
  }
  .company__img3-wrap {
    justify-content: flex-start;
    height: auto;
    position: static;
    align-items: center;
    padding-left: 40px;
    width: 100%;
  }
  .company__img3-wrap div {
    width: 100%;
    max-width: 100%;
  }
  .company__img3-wrap .text-small {
    text-align: left;
    padding-right: 30px;
  }
  .company__img-text {
    margin: 0;
    display: flex;
    align-items: center;
  }
  .company__img1-wrap {
    max-width: 100%;
    max-height: none;
    width: 230px;
    display: flex;
    justify-content: center;
  }
  .company_btn {
    margin: 0;
    white-space: nowrap;
  }
  .company_row {
    padding: 122px 0 89px;
  }
  .company__info-wrap {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
  }
  .title {
    font-size: 26px;
    line-height: 28px;
  }
  .company__info-content {
    width: 40%;
    padding-right: 40px;
  }
  .company__possibility {
    width: 60%;
  }
  .company__info {
    display: flex;
  }
  .line {
    display: none;
  }
  .subtitle {
    font-size: 26px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .possibility-item {
    width: calc(33.33% - 20px);
    margin: 0 0 30px 20px;
  }
  .possibility_row {
    margin-left: -20px;
  }
  .company__img1 {
    max-width: 130px;
    max-height: 130px;
  }
  .company__img2 {
    max-width: 140px;
    max-height: 140px;
  }
  .body_overflow {
    height: 100%;
  }
  .body_overflow,
  .body_overflow main {
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }
  .body_overflow .company,
  .body_overflow .company .container,
  .body_overflow .company_row,
  .body_overflow .content,
  .body_overflow .page-content {
    height: 100%;
  }
  .body_overflow .footer,
  .body_overflow .header {
    position: static;
  }
  .body_overflow .company_row {
    padding: 30px 0 40px;
  }
  html {
    height: 100%;
  }
  .contacts__list {
    padding-top: 40px;
  }
  .contacts__map {
    width: 100%;
    height: 300px;
  }
  .contacts__item {
    width: calc(33.33% - 30px);
  }
  .contacts,
  .contacts_row {
    height: 100%;
  }
}
@media (min-width: 1150px) {
  .header__burger,
  .menu {
    display: none;
  }
}
@media (max-width: 800px) {
  .header-content {
    width: 65%;
  }
  .footer__policy-link {
    margin-left: 20px;
  }
  .webstyle__link {
    padding-right: 12px;
  }
  .webstyle__link:last-child {
    margin-left: 12px;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .header-content {
    width: 60%;
  }
  .slider__skew {
    margin-left: 0;
    padding: 120px 40px 100px;
    transform: skew(0deg);
    background: none;
    max-width: 100%;
  }
  .feedback__content {
    width: 74%;
  }
  .slider__info {
    padding-right: 0;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.5215686275);
  }
  .slider__info-content {
    transform: skew(0deg);
  }
  .slider__info-content {
    margin-left: 0;
  }
  .arrow_wrap,
  .feedback_btn {
    left: 40px !important;
  }
  .webstyle {
    width: 100%;
    justify-content: center;
    margin-top: 6px;
  }
  .footer__copyright {
    width: 100%;
    text-align: center;
  }
  .footer__copyright br {
    display: none;
  }
  .menu {
    z-index: 9999;
  }
  .footer__policy-link {
    margin-left: 0;
    width: 100%;
    text-align: center;
    margin-top: 6px;
    max-width: 100%;
  }
  .footer {
    padding: 14px 0;
  }
  .feedback_btn {
    bottom: 38%;
    font-size: 12px;
  }
  .arrow_wrap {
    bottom: 24%;
  }
  .header__wrapper {
    padding: 0 40px;
  }
  .title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .slider__info-text {
    max-width: 312px;
  }
  .arrow,
  .feedback_icon {
    width: 44px;
    height: 54px;
  }
  .slider__info-content .title {
    max-width: 590px;
  }
  .arrow:before,
  .feedback_icon:before {
    width: 16px;
    height: 16px;
  }
  .company__img-wrap {
    display: block;
    height: auto;
  }
  .company__img1-wrap {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
  .company__img2-wrap {
    left: 0;
    justify-content: center;
  }
  .company__img3-wrap {
    margin-top: 50px;
    padding-left: 0;
  }
  .company__img1 {
    max-width: 170px;
    max-height: 170px;
  }
  .company__img2 {
    max-width: 180px;
    max-height: 180px;
  }
  .company__img3-wrap .text-small {
    text-align: center;
    padding-right: 0;
    width: 100%;
  }
  .company__img-text {
    margin: 0;
    display: block;
    align-items: normal;
  }
  .company_btn {
    margin: 20px auto 0;
  }
  .body_overflow .company_row {
    padding: 40px 0 70px;
  }
  .company__info {
    display: block;
  }
  .company__info-content {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
  .company__possibility {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .company__info-wrap {
    width: 100%;
    padding-left: 0;
    margin-top: 0;
  }
  .contacts_row_items {
    justify-content: space-evenly;
  }
  .contacts__info {
    width: 100%;
    padding: 0 40px;
    text-align: center;
  }
  .modal__close {
    top: 67px;
    right: 20px;
  }
  .modal__container {
    padding: 78px 56px 100px;
    max-width: 412px;
    max-height: 498px;
  }
  .feedback__btn {
    padding: 11px 30px 8px;
  }
  .modal__title {
    font-size: 24px;
    line-height: 17px;
    margin-bottom: 26px;
  }
}
@media (max-width: 650px) {
  .header__phone,
  .phone {
    display: none;
  }
  .header__burger {
    margin-left: auto;
  }
  .header-content {
    width: auto;
  }
  .phone__link {
    margin-bottom: 6px;
    color: #ffb100;
    text-decoration: underline;
  }
  .phone {
    margin-bottom: 20px;
  }
  .phone__text {
    max-width: 100%;
  }
  .contacts_row_items {
    justify-content: center;
  }
  .contacts__item {
    width: calc(50% - 30px);
  }
  .feedback__content {
    width: 100%;
    background: rgba(0, 0, 0, 0.6784313725);
  }
  .feedback__content .bg_black:before {
    display: none;
  }
  .feedback__content .input {
    background: rgba(24, 24, 24, 0.6784313725);
    padding: 9px 30px 6px;
    border: 2px solid #a2a2a2;
  }
  .feedback__content .feedback__form-wrap {
    justify-content: center;
    padding: 20px 40px 0;
    align-items: flex-start;
  }
  .feedback__content .feedback__title {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .feedback__content .feedback__back-btn {
    margin-bottom: 4px;
  }
}
@media (max-width: 500px) {
  .slider__skew {
    padding: 106px 20px 120px;
  }
  .title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  .text-style {
    font-size: 13px;
    line-height: 152%;
  }
  .arrow_wrap {
    bottom: 220px;
  }
  .container {
    padding: 0 20px;
  }
  .footer__copyright,
  .footer__policy-link,
  .webstyle__link {
    font-size: 12px;
  }
  .arrow_wrap,
  .feedback_btn {
    left: 20px !important;
  }
  .feedback_btn {
    bottom: auto;
    top: 244px;
  }
  .header__logo-img {
    max-width: 142px;
  }
  .nav__link {
    font-size: 12px;
  }
  .header__wrapper {
    padding: 0 20px;
  }
  .close-menu {
    margin-right: 20px;
  }
  .possibility-item {
    width: calc(50% - 20px);
  }
  .contacts__list {
    padding-top: 20px;
  }
  .contacts__item {
    width: calc(100% - 30px);
    text-align: left;
    margin: 0 0 30px 30px;
  }
  .contacts__info {
    padding: 0 20px;
  }
  .modal__container {
    padding: 40px 22px;
    max-width: 100%;
    max-height: 100%;
    background: #333;
  }
  .modal__close {
    top: 33px;
  }
  .slider__img {
    height: 100vh;
  }
  .header__logo span {
    max-width: 200px;
  }
}
@media (max-width: 350px) {
  .header__logo-img {
    width: 28px;
  }
  .header__logo span {
    margin-left: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .slider__skew {
    padding: 92px 20px 136px;
  }
  .title {
    font-size: 18px;
    line-height: 28px;
  }
  .text-style {
    font-size: 12px;
  }
  .feedback_btn {
    top: 220px;
  }
  .arrow,
  .feedback_icon {
    width: 34px;
    height: 44px;
  }
  .arrow:before,
  .feedback_icon:before {
    width: 14px;
    height: 14px;
    position: relative;
    top: -1px;
  }
  .feedback_icon {
    margin-right: 12px;
  }
  .possibility-item {
    width: calc(100% - 20px);
  }
  .feedback__content .feedback__form-wrap {
    padding: 20px 20px 0;
  }
  .feedback__content .feedback__title {
    font-size: 20px;
    line-height: 30px;
  }
  .feedback__content .feedback__form-wrap {
    padding: 6px 20px 0;
  }
  .feedback_wrap {
    transition: all 0.2s;
  }
}
@media (min-width: 650px) {
  .menu__contacts {
    display: none;
  }
}
