
.header {
    padding: 20px 60px;
    background-color: $black;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $gray;
}
.header__info {
    max-width: 1296px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    max-width: 190px;
}
.logo__link {
    display: flex;
    align-items: center;
}
.logo__img {
    margin-right: 20px;
}
.header__text {
    font-weight: 500;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.02em;
color: $gray;
max-width: 180px;
}
.header__text-big{
    max-width: 245px;
}
.header__block {
    display: flex;
}
.header__link {
    font-size: 14px;
line-height: 20px;
color: $gray;
letter-spacing: 0.02em;
text-decoration: none;
display: inline-block;
margin-right: 20px;
}
.nav {
    max-width: 194px;
    width: 100%;
}
.nav__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.nav__item {
    list-style: none;
}
.nav__link {
    font-weight: 500;
font-size: 14px;
line-height: 20px;
color: $gray;
text-decoration: none;
letter-spacing: 0.04em;
position: relative;
padding: 20px 0;
&::before{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    opacity: 0;
    background: $yellow;
    transition: all .1s;
}
&:hover{
    color: $yellow;
}
&:hover::before{
   opacity: 1;
   width: 100%;
}
}