.slider {
    position: relative;
}
.slide {
    height: 851px;
    position: relative;
}
.slide__content {
    position: absolute;
    top: 128px;
    left: 180px;
}
.slide__title {
    max-width: 753px;
    font-weight: 900;
font-size: 56px;
line-height: 68px;
color: $gray;

letter-spacing: 0.04em;
text-transform: uppercase;
}
.slide__descr {
    margin-top: 30px;
    font-weight: 500;
font-size: 20px;
line-height: 28px;
color: $gray;
letter-spacing: 0.04em;
max-width: 437px;
}
.feedback {
    position: absolute;
    z-index: 3;
    bottom: 12%;
    left: 180px;
    display: flex;
    align-items: center;
}
.feedback__icons {
    width: 66px;
height: 76px;
background: url(../img/icons/Polygon.svg) no-repeat;
background-size: 100%;
display: flex;
align-items: center;
justify-content: center;
&:hover{
    background: url(../img/icons/Polygon-1.svg) no-repeat;
}
&:hover svg path{
    fill: #000;
}
}
.feedback__text {
    font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: $yellow;
margin-left: 20px;
}
.slide__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slider__button-wrapper {
    position: absolute;
    bottom:70px;
    left: 180px;
    display: flex;
    align-items: center;
}
.slider__button-prev {
    width: 64px;
    height: 74px;
    background: url(../../img/icons/Polygon-arrow.svg) no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider__button-next {
    width: 64px;
    height: 74px;
    background: url(../../img/icons/Polygon-arrow.svg) no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}